@using AnkhMorporkApp.Models
@model AnkhMorporkApp.Models.Fool
@{
    ViewBag.Title = "Index";
}

<h2>Fools</h2>
<p>Press Yes to</p>
@Model.Fee

<a href="/FoolsGuild/Yes">Yes</a>
<button name="No">No</button>