@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerFoolViewModel
@{
    ViewBag.Title = "Index";
}
@Model.slogan
<h2>Fools</h2>
<p>Press Yes to</p>
@Model.fool.Fee
@Model.player.Balance
@Html.ActionLink("Yes", "Yes", "FoolsGuild", new { sum = Model.fool.Fee, balance = Model.player.Balance }, null)

<button name="No">No</button>