@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerAssassinViewModel
@{
    ViewBag.Title = "Index";
}
@Model.slogan
<p>Current balance:</p>
@Model.player.Balance
<h2>Assassins</h2>
@using (Html.BeginForm("Index", "AssassinsGuild", FormMethod.Post))
{
    <table>
        <tr>
            @Html.HiddenFor(m => m.player.Balance)
            <td>
                <p>Input sum</p>
            </td>
            <td><input type="number" name="amount" /> </td>
        </tr>
        @*<tr><td><input type="submit" value="Enter" /> </td>
            <td></td></tr>*@
    </table>
    @*@Html.ActionLink("Yes", "Yes", "FoolsGuild", new { balance = Model.player.Balance }, null)*@

    <button name="action" value="add">Добавить</button>
    <button name="action" value="delete">Удалить</button>
}