@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerAssassinViewModel
@{
    ViewBag.Title = "Index";
}
<p>Current balance:</p> @Model.player.Balance
<h2>@Model.slogan</h2>
@using (Html.BeginForm("Index", "AssassinsGuild", FormMethod.Post))
{
    <table>
        <tr>
            @Html.HiddenFor(m => m.player.Balance)
            <td>
                <p>Input sum</p>
            </td>
            <td><input type="number" name="amount" /> </td>
        </tr>
        @*<tr><td><input type="submit" value="Enter" /> </td>
            <td></td></tr>*@
    </table>
    @*@Html.ActionLink("Yes", "Yes", "FoolsGuild", new { balance = Model.player.Balance }, null)*@
    <button name="action" value="yes">Yes</button>
    <button name="action" value="skip">Skip</button>
}