@using AnkhMorporkApp.Models
@model AnkhMorporkApp.Models.Fool
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Press Yes to</p>
@Model.Fee

<a href="/ThievesGuild/Yes">Yes</a>
<button name="No">No</button>
